node_modules
*.vsix

# Source
.github/
script/
.vscode/
src/
test/

# Dev config files
.nvmrc
.npmrc
.lintstagedrc
.editorconfig
.eslintrc
.eslintignore
.gitattributes
.gitignore
nodemon.json
tsconfig.json
*.md